<div class="camera" [hidden]="!hasDevices">

    <div>
        <h2 align="center">¡Bienvenido!</h2>
        <hr>
        <p>Aca podrás escanear todos tus productos. Una vez que termines le tendrás que dar al boton de abajo "Terminar de escanear" y usted será redirigido a la lista de productos escaneados</p>
    </div>

    <header>
        <mat-form-field appearance="fill" style="width: 100%;">
            <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
                <option value="" [selected]="!currentDevice">Ningún dispositivo seleccionado</option>
                <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                    [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
            </select>
        </mat-form-field>
    </header> 


    <zxing-scanner class="cameraContainer" [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
        [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
        (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>

    <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile>
            <div style="margin-top: 5%">
                <button mat-raised-button color="accent" [routerLink]="['/flex/packages']">
                    Terminar de escanear
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>

<ng-container *ngIf="hasPermission === undefined">

    <h2>Esperando por permisos...</h2>

    <blockquote>
        Si to dispositivo no tiene cámara, no te preguntaremos por lo mismos.
    </blockquote>

</ng-container>

<ng-container *ngIf="hasPermission === false">

    <h2>Has denegado los permisos de tu cámara.</h2>

</ng-container>